<body>
  <header>
    <nav>
      <div class="nav-left">
        <ul>
          <li><%= image_tag "nico-tag.png", class:"logo", width:"50px", height:"50px" %></li>
          <li>Le site du Nico</li>
      </div>
      <div class="nav-right">
        <ul>
          <li>Nicolas Culerier</li>
          <li><%= image_tag "Garen.png", id:"avatar", width:"50px", height:"50px" %></li>
        </ul>
      </div>
  </nav>
  </header>
    <div class="main">
    <div>
      <ul class="menu">
        <li><a href="#tab1">Mon num</a></li>
        <li><a href="#tab2">Mon secret</a></li>
        <li><a href="#tab3">Mon crush</a></li>
      </ul>
        <div id="tab1" class="tab-content">Bah demande quoi !</div>
        <div id="tab2" class="tab-content">J'aime le chocolat</div>
        <div id="tab3" class="tab-content">Pas toi</div>
    </div>
      <div class="titles">
        <h1>Le site du Nico</h1>
        <h3>Ma card :</h3>
      </div>
      <div class="card">
        <div class="card-category">
        <p>#MonPremierProjetFront</p>
      </div>
      <div class="card-avatar">
        <%= image_tag "moi.jpg", id:"moi", class:"center", width:"74", height:"101", alt:"profile" %><br>
      </div>
      <p id="description">Moussaillon session 5 Paris</p>
      <button  id="bouton" class="center" type="btn-blue">ça va être tout noir !</button>
      </div>
      <div class="introduction">
        <h2>Moi en quelques mots</h2>
        <p><strong>Passions pros :</strong> Finance d'entreprise, M&A, Tech/Fintech et Commmerce International (langues, cultures...) 🇫🇷 🇪🇸 🇰🇷 🇺🇸 🇬🇧</p><br>
        <%= image_tag "picsou-uncle.gif", class:"center", alt:"picsou" %><br>
        <p><strong>Sports :</strong> Muscu, Equitation, Foot </p><br>
        <%= image_tag "arnold.gif", class:"center", alt:"arnold" %><br>
        <p><strong>A mes heures perdues :</strong> League of Legends</p><br>
        <%= image_tag "logolol.jpg", class:"center", alt:"league" %>
      </div>
  <footer>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/nicolas-culerier/">
        <i class="fab fa-linkedin-in"></i> Linkedin
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/nicolas.culerier">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
      </li>
    </ul>
  </footer>
</body>
